body{
	overflow: hidden;	
}

button, .ui-button{
	cursor: pointer !important;
	font-size: 13px !important;
	line-height: 0px !important;
	border-radius: 0px !important;	
	border: 0 !important;
}

button.disabled:not(.action):not(.create){
 background: #eaeaea !important;
}

button:hover:not(.ui-dialog-titlebar-close):not(.action):not(.create){
 background: #EBEBEB !important;
 border: 0 !important;
}


button.disabled{
 cursor: default !important;	
 background: #eaeaea !important;
}


button:focus{
 box-shadow: initial !important;	
}

button.action{
	background: #005A9E !important;
	padding: 0px !important;
}

button.action:not(.disabled):hover,
button.create:not(.disabled):hover{
	opacity: .8;
}

.ms-Button.disabled:active{
	background-color: #eaeaea;
}

.sidebar{
	overflow-x: hidden;
 	padding: 0px 7px !important;	
}

.noscrolls{
	overflow: hidden;
}

#logo{
	display: block;
	margin:auto;
	width:114px;
}

#greet-container{
	border: 1px solid lightgray;
	width: 313px;
	margin-top: 13px;
	padding-top: 10px;
}


#greet-container > div:not(#carousel-gallery){
	margin: 20px auto;
	font-size: 16px;
	color: black;
	text-align:center;
}

#carousel-gallery{
	margin: 10px auto  !important;
}

#carousel-gallery .owl-buttons{
	display: none;	
}

#carousel-gallery .owl-controls {
    opacity: 1;
}

#carousel-gallery .owl-item img {
    width: 280px;
    height: 200px;
}

#thumb-container{
	padding-top: 5px;
	border: 1px solid #E6E4E4;
	height: 415px;
	font-size: 17px;
	color: gray;
	overflow-x: hidden;
	overflow-y: auto;
}

.buttons-container{
	height: 32px;
	position: relative;
}
#get-started-button{
	height: 45px;
	width: 160px;
	font-size: 17px;
}
.top-buttons{
	height: 26px;
	width: 26px;
	min-width: 0;
	padding: 0px 0px 0px 2px;
	border-top-right-radius: 0;
	top: 8px;
	position: relative;
}
.top-icons{
	height: 21px;
	width: 21px;
	opacity: .55;
}
.refresh-icon{
	background: no-repeat url(https://ssl.gstatic.com/ui/v1/icons/mail/sprite_black2.png) -63px -21px;
}
.setup-icon{
	background: no-repeat url(https://ssl.gstatic.com/ui/v1/icons/mail/sprite_black2.png) -1px -21px;
}


.dialog-div{
	display:none;
	overflow: hidden !important;
	padding: 0;
	height: 48px;
	font-size: 13px;
	text-align: center;
}

.ui-widget-overlay{
	opacity: 0.2 !important;
}

.ui-dialog{
	width: 200px !important;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 0 4px 16px rgba(0,0,0,.2);
	-moz-box-shadow: 0 4px 16px rgba(0,0,0,.2);
	box-shadow: 0 4px 16px rgba(0,0,0,.2);
	background: #fff;
	background-clip: padding-box;
	border: 1px solid #acacac;
	border: 1px solid rgba(0,0,0,.333);
	outline: 0;
	position: absolute;
}

.ui-dialog-titlebar{
	width: 100%;
	background: white !important;
	font-size: 16px !important;	
	border: 0px !important;	
	font-weight: normal  !important;
}

.ui-dialog .ui-dialog-titlebar-close{
	background: transparent !important;
	border: 0px !important;
}

.ui-state-hover .ui-icon{
	opacity: .7;
}

.ui-widget-content{
	border: 0px  !important;
	border-radius: 0px  !important;
}

.ui-dialog .ui-dialog-buttonpane button{
	margin-left: 12px !important;	
}

.ui-dialog .ui-dialog-buttonpane button:hover{
  background: -moz-linear-gradient(top, #f8f8f8, #f1f1f1)  !important;
  background: -ms-linear-gradient(top, #f8f8f8, #f1f1f1) !important;
  background: -o-linear-gradient(top, #f8f8f8, #f1f1f1) !important;
  background: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1) !important;
  background: linear-gradient(top, #f8f8f8, #f1f1f1) !important;
  border: 1px solid #DEDEDE !important;
  color: #111 !important;
  text-decoration: none !important;	
}

button.ui-button {
  background: -moz-linear-gradient(top, #f5f5f5, #f1f1f1) !important;
  background: -ms-linear-gradient(top, #f5f5f5, #f1f1f1) !important;
  background: -o-linear-gradient(top, #f5f5f5, #f1f1f1) !important;
  background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1) !important;
  background: linear-gradient(top, #f5f5f5, #f1f1f1) !important;
  border: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #333  !important;
  cursor: default;
  font-family: arial, sans-serif;
  font-size: 11px   !important;
  font-weight: bold  !important;
  height: 29px;
  line-height: 27px;
  margin: 0;
  min-width: 72px;
  outline: 0;
  padding: 0 8px;
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
  display: inline-block;
  padding: 0;
}

#delete-button{
  margin-right: 14px;	
}

#insert-button.waiting{
	background: white !important;
	border: 1px solid #D0D3D7 !important;
}

#insert-button.waiting img{
	width: 28%;
}

#nofilesyetImg {
  right: 23px;
}

.boxes .thumbs{
  opacity: .5;
}

#console-container{
display: none;
height: 76px;
position: absolute;
top: 31%;
left: 22%;
background: white !important;
z-index: 2;
width: 218px;
padding: 17px;
box-sizing: border-box;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border: 1px solid lightgray;
}
